<% layout('../layouts/boilplates.ejs') %>
<div class="container">
    <form action="/product/<%=product.id %>/favorite?_method=put" method="post">
        <button type="submit">Thêm vào yêu thích</button>
    </form>

    <main>
        <header class="">
            <div class="product-images">
                <div class="image-show">
                    <% for (let image of product.images){ %>
                        <img src="<%=image.url %>" alt="product image">
                    <% break} %>
                </div>
                <div class="image-list">
                    <% for (let image of product.images){ %>
                        <img src="<%=image.url %>" alt="product image" height="200">
                    <% } %>
                </div>
            </div>

            <div class="product-details">
                <h1><%=product.title %></h1>
                <ul class="overview-group">
                    <li>&#9733;(4.9)</li>
                    <li><%=product.inventory %></li>
                    <li>Đơn vị tính: </li>
                </ul>
                <div class="product-price">₫<%=(product.price.toLocaleString('vi-VN')) %></div>
                <div >Trọng lượng: <%=product.weight %></div>
                
                
                <div class="product-description">
                    <%=product.description %>
                </div>
            </div>
        </header>

        <!-- review -->
        <div>
            <span >Dánh giá sản phẩm</span>
            <% if(product.reviews.length > 0){ %>
                <% for (let review of product.reviews){ %>
                    <div>
                        <p>Rating: <%= review.rating %>
                        </p>
                        <p>Nội dung: <%= review.body %>
                        </p>
                        <p>Feedback: <%=review.feedback %>
                        </p>
                        <form action="/product/<%=product._id %>/review/<%=review._id %>?_method=delete" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
            <% }}else{ %>
                <p>Chưa có đánh giá nào</p>
            <% } %>
        </div>

        <!-- related products -->
        <div></div>
    </main>

    <div>
        
        
    
        
        
        

        <div>
            <span >Ảnh sản phẩm</span>
            
        </div>

        <form action="/product/<%= product._id %>/review" method="post">
            <div>
                <span >Rating</span>
                <input type="range" value="5" max="5" min="1" name="review[rating]">
            </div>
            <div>
                <span >Nội dung đánh giá</span>
                <textarea name="review[body]" id="body" rows="5" cols="100%"></textarea>
            </div>
            <button type="submit">Thêm đánh giá</button>
        </form>

    </div>

</div>