<% layout('../layouts/boilplates.ejs') %>
<div class="container">
    <header>
        <div class="carousel">
            <div class="carousel-item">
                <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="">
            </div>
            <div class="carousel-item">
                <img src="https://buffer.com/library/content/images/size/w1200/2023/10/free-images.jpg" alt="">
            </div>
        </div>
        <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
        <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
    </header>

    <div class="content">
        <aside class="content-aside">
            <h1 class="aside-title">Tất cả danh mục</h1>
            <ul class="aside__category-list">
                <% for(let category of categories){ %>
                    <li class="aside__category-item"><%= category.name %></li>
                <% } %>
            </ul>
        </aside>
    
        <main class="content-main">
            <div class="content-main__filter">
                <span class="filter__title">Sắp xếp theo</span>
                <button class="button-primary">Phổ biến</button>
                <button class="button-normal">Mới nhất</button>
                <button class="button-normal">Bán chạy</button>
                <div class="filter__price-group">
                    <button class="button-normal button-price">
                        <span>Giá</span>
                        <span class="button-price__symbol">&#9662;</span>
                    </button>
                    <div class="sort__price">
                        <span class="sort__price-item sort__price-increase">Giá: Thấp tới cao</span>
                        <span class="sort__price-item sort__price-reduce">Giá: Cao tới thấp</span>
                    </div>
                    
                </div>
            </div>
            <div>
                <div class="content-main__products">
                    <% for(let product of products){ %>
                        <a class="content-main__products-card" href="/product/<%=product._id %>">
                            <% for(let img of product.images){ %>
                                <div class="image">
                                    <img src="<%=img.url %>" alt="Ảnh SP">
                                </div>
                            <% break} %>
                            <p class="card-product__title"><%=product.title %></p>
                            <span class="card-product__weight">Trọng lượng: <strong><%=product.weight %></strong></span>
                            <div class="group__price-unit">
                                <span class="card-product__price"><small>₫</small><%=(product.price).toLocaleString('vi-VN') %></span>
                                <span class="card-product__unit">Đơn vị tính</span>
    
                            </div>
                            
                        </a>
    
                    <% } %>
                </div>
                <div class="pagination">
                    <ul class="pagination-options">
                        <li class="pagination-item"><i class="fa-solid fa-angle-left"></i></li>
                        <li class="pagination-item">1</li>
                        <li class="pagination-item"><i class="fa-solid fa-angle-right"></i></li>
                    </ul>
                </div>

            </div>
        </main>

    </div>



    
</div>
<script src="js/index.product.js"></script>