<% layout('../layouts/boilplates.ejs') %>
<form action="/category/<%=category._id%>?_method=put" method="post" enctype="multipart/form-data">
    <h1>
        Edit category page
    </h1>
    <div>
        <label for="">Tên danh mục</label>
        <input type="text" name="category[name]" value="<%= category.name %>">
    </div>
    <div>
        <label for="">Mô tả danh mục</label>
        <input type="text" name="category[description]" value="<%= category.description %>">
    </div>
    <div>
        <label for="">Ảnh danh mục</label>
        <img src="<%=category.image?.url %>" alt="Ảnh danh mục">
        <input type="file" name="image">
    </div>
    <button type="submit" class="btn btn-success">Xác thực</button>
</form>

<form action="/category/<%=category._id%>?_method=delete" method="post">
    <button type="submit" class="btn btn-warning">Xóa danh mụcc <%=category.name%></button>
</form>
